.elementContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    
}

.carousel-img{
    width: 80%;
    height: 60%;
    object-fit: cover;
    padding: 30px;
}
.carouselElementText{
    width: 80%;
    height: 60%;
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 40px;
}
.carouselElementText p{
    width: 100%;
}

.carouselTextTitle{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.externalLink{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 800px){
    .elementContainer{
        flex-direction: row;
        margin: 0px;
        gap: 30px;
    }

    .carousel-img{
        width: 40%;
        height: 80%;
        object-fit: cover;
        padding: 0px;
    }
    .carouselElementText{
        width: 40%;
        height: 60%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        gap: 30px;
        text-decoration: none;
    }
}