/* Contact.css */
.contact {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9e6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.contact-info strong {
  display: inline-block;
  width: 80px;
}