/* Header.css */
.header {
  background-color: #000000d7;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px; /* Smaller font size */
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Increased gap */
}

.nav-list li {
  display: block;
  font-size: 1.2em; /* Smaller font size with relative unit */
}

.nav-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s ease;
  display: inline-block;
}

.nav-list a:hover {
  color: #0056b3;
  transform: scale(1.1);
}

.logo {
    max-width: 100px;
    height: auto;
  }

.header .name{
  text-decoration: none; 
  color: inherit;
  display: inline-block;
  font-size: 20px;
  transition: transform 0.3s ease;
  margin: 2px 0 8px 0;
  text-align: center;
}
.name:hover {
  transform: scale(1.05);
}

@media (min-width: 800px) {
  .navbar{
    display: inline;
  }
  .nav-list {
    width: 80%;
    flex-direction: row;
    gap: 40px; /* Increased gap */
  }

  .nav-list li {
    display: inline;
    border-right: 1px solid #ffffff;
    padding-right: 15px;
  }

  .nav-list li:last-child {
    border-right: none;
  }

  .logo {
    display: flex;
    max-width: 150px;
    height: auto;
    /* margin-right: 40vw; */
  }
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
  }

  .header .name{
    margin: 2vw 10vw 2vw 0;
  }
  .header .name{
    text-align: left;
  }
}