/* Home.css */
.home {
  padding: 20px;
}

.home img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);

}

.home .container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home p {
  width: 100%;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: justify;
  color: #080808;
  padding: 30px;
  border-radius: 5%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}


@media screen and (min-width: 800px) {
  .home .container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .home p {
    width: 100%;
    max-width: 500px;
    font-size: 1.2 rem;
    text-align: justify;
  }

  .home img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
    
}