.container img {
  max-width: 300px;
  height: auto;
  border-radius: 2%;
}

.home .container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container p {
  width: 100%;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: justify;
  color: #080808;
  padding: 30px;
}


@media screen and (min-width: 800px) {
  .home .container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
  }

  .container p {
    width: 100%;
    max-width: 500px;
    font-size: 1.2 rem;
    text-align: justify;
  }
}