/* Projects.css */
.projects {
  padding: 30px;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  margin-bottom: 1.5rem;
}

.project-card{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  flex: 1;
  font-size: 12px;
}

.projects p {
  text-align: justify;
  padding: 10px;
  
}

.projects a{
  display: block;
}

.project-image{
  width: 60%;
  height: auto;
  border-radius: 2%;
  object-fit: cover;
  display: block;
  margin: 30px auto; /*top and bottom margin, left and right auto */

}
.left-align-stack {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
}
.projects h4 {
  text-align: left;
  margin-top: 20px;
  padding: 5px;
}
.projects li {
  margin-bottom: 5px; 
}
.project-link {
  margin-bottom: 20px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s ease;
  color: --text-color;
  text-align: left;
}
.project-link:hover {
  transition: scale(1.01);
  color: #0056b3;
}

@media (min-width: 800px) {
  .project-list {
    flex-direction: row;
  }
  .projects p {
    text-align: justify;
    padding: 10px;
  }
  .project-card {
    font-size: 15px;
  }
}