apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-end
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      containers:
        - name: front-end
          image: boobogo/my-frontend:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "30m"
            limits:
              cpu: "50m"